.automl-configure__form-field {
  max-width: 922px;
}

.automl-configure__column-type-badge {
  font-family: monospace;
  font-weight: 700;
  font-size: var(--pf-t--global--font--size--xs);
  display: inline-block;
  width: 4rem;
  margin-right: var(--pf-t--global--spacer--sm);
}

.automl-configure__toggle-group-full-width {
  .pf-v6-c-toggle-group__item {
    flex: 1 0 0;
  }

  .pf-v6-c-toggle-group__button {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
