.automl-configure__form-field {
  max-width: 922px;
}

.automl-configure__column-type-badge {
  font-family: monospace;
  font-weight: 700;
  font-size: var(--pf-t--global--font--size--xs);
  display: inline-block;
  width: 4rem;
  margin-right: var(--pf-t--global--spacer--sm);
}

.automl-optimization-metric-modal {
  height: 50vh;

  &__radio-list {
    overflow-y: auto;
    flex: 1 1 0;
    min-height: 0;
  }

  .pf-v6-c-modal-box__body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.automl-configure__toggle-group-full-width {
  .pf-v6-c-toggle-group__item {
    flex: 1 0 0;
  }

  .pf-v6-c-toggle-group__button {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
