.automlConfigureToggleGroupFullWidth .pf-v6-c-toggle-group__item {
  flex: 1 0 0;
}

.automlConfigureToggleGroupFullWidth .pf-v6-c-toggle-group__button {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
