.odh-dashboard-expandable-section-heading > .pf-v6-c-expandable-section__toggle > * {
  font-family: var(
    --pf-t--global--font--family--heading
  ) !important; // Need input from RHOAI on context; can't easily view in UI to check
  font-size: var(
    --pf-t--global--icon--size--2xl
  ) !important; // --pf-t--global--font--size--3xl would closer match the v5 px value of the old token (24px)
  color: var(
    --pf-t--global--icon--color--subtle
  ) !important; // May not need this or hover color styling, the toggle button should cover any hover styling
}

.odh-dashboard-expandable-section-heading > .pf-v6-c-expandable-section__toggle:hover > * {
  color: var(--pf-t--global--icon--color--regular) !important;
}
