// Common modal styles that can be shared across different modal components

.odh-modal {
  
  &__content-height {
     height: 470px;
    overflow-y: hidden;
  }

  &__filled-stack-item {
    overflow-y: hidden;
  }
} 