// Common modal styles that can be shared across different modal components

.odh-modal {

  &__content-height {
    overflow-y: auto;
    max-height: 60vh; // Ensures modal body scrolls when content is too long
  }

  &__filled-stack-item {
    overflow-y: hidden;
  }
}

.odh-content-modal__header {
  .pf-v6-c-modal-box__title-text {
    text-overflow: initial;
    white-space: break-spaces;
  }
}
