.search-filter-model-catalog {
  @media (min-width: 768px) {
    min-width: 600px;
  }

  > div:first-child {
    flex: 1 1 auto;
    flex-grow: 1;

    > div {
      width: 100%;

      > div {
        flex: 1 1 auto;

        > span {
          width: 100%;

          > input {
            width: 100%;
          }
        }
      }
    }
  }
}
