.automl-topology-wrapper {
  position: relative;
}

.automl-topology-overlay {
  position: absolute;
  top: var(--pf-t--global--spacer--md);
  left: var(--pf-t--global--spacer--md);
  z-index: 1;
}

.automl-topology-container {
  height: 345px;
  border-radius: 16px;
  border: 1px solid var(--pf-t--global--border--color--default);
  overflow: hidden;

  .pf-topology-content {
    background-color: var(--pf-t--global--background--color--primary--default);
  }
}
