apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../core-bases/consolelink
labels:
- includeSelectors: true
  pairs:
    app: dashboard
    app.kubernetes.io/part-of: dashboard
patches:
- path: consolelink.yaml
  target:
    group: console.openshift.io
    kind: ConsoleLink
    name: odhlink
    version: v1
