html,
body,
#root {
  height: 100%;
}

#dashboard-page-main {
  // Establish positioning relative to the top left of the main container.
  position: relative;
}

.odh-dashboard {
  &__page-content {
    border: 1px solid var(--pf-v5-global--BorderColor--100);
    display: flex;
    flex: 1;
    margin: var(--pf-v5-global--spacer--md);
  }

  .pf-v5-c-app-launcher__group-title {
    font-size: 13px;
  }


  &__brand {
    height: 36px;
  }
}

// specificity targeting form elements to override --pf-v5-global--FontSize--md
.pf-v5-c-page,
.pf-v5-c-modal-box {

  .pf-v5-c-app-launcher,
  .pf-v5-c-button,
  .pf-v5-c-dropdown,
  .pf-v5-c-dropdown__menu-item,
  .pf-v5-c-dropdown__toggle,
  .pf-v5-c-menu-toggle,
  .pf-v5-c-menu__item,
  .pf-v5-c-select,
  .pf-v5-c-select__menu-item,
  .pf-v5-c-select__toggle,
  .pf-v5-c-text-input-group,
  .pf-v5-c-form-control {
    font-size: var(--pf-v5-global--FontSize--sm);
    height: auto;
  }
}

// TODO: Remove when PF bug is fixed. See https://github.com/patternfly/patternfly-react/issues/9769
// Override to prevent drawer body content from taking over scroll container
.pf-v5-c-drawer__body {
  min-height: 0;
}

// temp fix until https://github.com/patternfly/patternfly-react/issues/8028 is resolved
// Remove this file and its uses after bumping to PF5
.checkbox-radio-fix-body-width {

  .pf-v5-c-check__body,
  .pf-v5-c-radio__body {
    width: 100%;
  }
}
