frontend/node_modules
frontend/public
backend/node_modules
backend/dist
node_modules/
packages/*/frontend/node_modules
packages/*/bff/vendor

.github/
.vscode/
.idea/
tests/
**/__mocks__/
**/__tests__/
scripts/

# Local .env images
**/.env.development
**/.env.test

**/.git
**/.gitignore

.editorconfig
.prettierrc
**/.prettierignore
**/.eslintignore
**/.eslintrc
Makefile
OWNERS
**/README.md
