# This file serves as an example environment configuration for local development.
# Copy this file to `.env.local` (not committed) and modify the values as needed (more info in ./CONTRIBUTING.md).

# Application Environment
APP_ENV=local

# OC_PROJECT is the OpenShift Project/Namespace you are using. 
# Set `OC_PROJECT` to `opendatahub` (for Open Data Hub deployments) 
# or `redhat-ods-applications` (for Red Hat OpenShift AI deployments). 
# Leaving this variable unset will cause failures when trying to run the project with local frontend and backend.
OC_PROJECT=redhat-ods-applications

# The `make login` command will use below OC_URL and (OC_TOKEN, or OC_USER and OC_PASSWORD) to authenticate 
# against cluster (see ./CONTRIBUTING.md for more details & ways to login).
# OC_URL is the Cluster API Address for the OpenShift cluster you are using.
# Example OC_URL formats:
#   https://api.{cluster-name}.openshiftapps.com:443
#   https://api.{cluster-name}.dev.datahub.redhat.com:6443
OC_URL=replace-with-url
OC_USER=replace-with-username
OC_PASSWORD=replace-with-password
# OC_TOKEN=replace-with-token
