# editor
.idea/
.vscode/

# misc
.DS_Store

.env*.local

node_modules

.docs
.gitkeep
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

install/odh/overlays/dev/kustomization.yaml
install/odh/overlays/dev/deployment_patch.yaml
