apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- leader_election_role.yaml
- leader_election_role_binding.yaml
- manager.yaml
- namespace.yaml
- role.yaml
- role_binding.yaml
- service_account.yaml
- user_cluster_roles.yaml

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: controller-manager

images:
- name: workspaces-controller
  newName: ghcr.io/kubeflow/notebooks/workspaces-controller
  newTag: latest
