apiVersion: v1
kind: ConfigMap
metadata:
  name: federation-config
data:
  module-federation-config.json: |
    [
      {
        "name": "modelRegistry",
        "remoteEntry": "/remoteEntry.js",
        "authorize": true,
        "tls": true,
        "proxy": [
          {
            "path": "/model-registry/api",
            "pathRewrite": "/api"
          }
        ],
        "local": {
          "host": "localhost",
          "port": 8080
        },
        "service": {
          "name": "odh-dashboard",
          "namespace": "opendatahub",
          "port": 8043
        }
      },
      {
          "name": "genAi",
          "remoteEntry": "/remoteEntry.js",
          "authorize": true,
          "tls": true,
          "proxy": [
            {
              "path": "/gen-ai/api",
              "pathRewrite": "/api"
            }
          ],
          "local": {
            "host": "localhost",
            "port": 8080
          },
          "service": {
            "name": "odh-dashboard",
            "namespace": "opendatahub",
            "port": 8143
        }
      },
      {
          "name": "maas",
          "remoteEntry": "/remoteEntry.js",
          "authorize": true,
          "tls": true,
          "proxy": [
            {
              "path": "/maas/api",
              "pathRewrite": "/api"
            }
          ],
          "local": {
            "host": "localhost",
            "port": 8080
          },
          "service": {
            "name": "odh-dashboard",
            "namespace": "opendatahub",
            "port": 8243
        }
      },
      {
        "name": "perses",
        "proxyService": [
          {
            "authorize": true,
            "path": "/perses/api",
            "pathRewrite": "",
            "tls": false,
            "service": {
              "name": "data-science-perses",
              "namespace": "opendatahub",
              "port": 8080
            }
          }
        ]
      },
      {
        "name": "mlflow",
        "remoteEntry": "/mlflow/static-files/federated/remoteEntry.js",
        "authorize": true,
        "tls": true,
        "service": {
            "name": "mlflow",
            "namespace": "opendatahub",
            "port": 8443
        }
      }
    ]
