.dch-connection-types-gallery__filter-separator {
  margin-bottom: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--md);
  border-bottom: var(--pf-t--global--border--width--divider--default) solid
    var(--pf-t--global--border--color--default);
}
