kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gen-ai-aa-mcp-servers-reader
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - gen-ai-aa-mcp-servers
    verbs:
      - get
      - list
      - watch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gen-ai-aa-mcp-servers-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gen-ai-aa-mcp-servers-reader
subjects:
  - kind: Group
    name: system:authenticated

