// targeting specific form section title elements to override --pf-v5-c-form__section-title--FontSize, --pf-v5-c-form__section-title--FontWeight
.form-subtitle-text {
  color: var(--pf-v5-global--Color--200);
  font-size: initial;
  font-weight: initial;
}
