// This is an override provided by UX to set the star icon styles
// Because this is not implemented in PF Card component
.odh-favorite-button {
  padding: 0;
  &__star-icon {
    fill: var(--pf-v5-global--palette--black-400);
    &:hover {
      fill: var(--pf-v5-global--palette--black-500);
    }
    &--is-selected {
      fill: var(--pf-v5-global--palette--gold-300);
      &:hover {
        fill: var(--pf-v5-global--palette--gold-400);
      }
    }
  }
}
