.odh-number-input-wrapper {
  &.m-full-width {
    width: 100%;
    display: flex;
    .pf-v6-c-input-group__item:where(:not(:first-child)):where(:not(:last-child)) {
      flex: 1;
      .pf-v6-c-form-control {
        width: 100%;
      }
    }
    .pf-v6-c-number-input__unit {
      white-space: nowrap;
    }
  }
}
