.odh-card {
  &.m-disabled {
    background-color: var(--pf-v5-global--BackgroundColor--light-200);
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: var(--pf-v5-c-card--m-selectable--m-selected--before--Height);
      content: '';
      background-color: var(--pf-v5-global--disabled-color--200);
    }
  }

  &.odh-card.pf-m-current {
    border-color: var(--pf-v5-c-card--m-selectable--m-selected--BorderColor);
    border-style: solid;
    border-width: var(--pf-v5-c-card--m-selectable--BorderWidth);
  }

  &__partner-badge-container {
    margin-top: calc(var(--pf-v5-global--spacer--sm) * -1);
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }

  &__partner-badge {
    background-color: var(--pf-v5-global--BackgroundColor--light-300);
    border-color: var(--pf-v5-global--BorderColor--200);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pf-v5-global--spacer--md);
    font-size: var(--pf-v5-global--FontSize--xs);
    font-weight: var(--pf-v5-global--FontWeight--normal);
    margin-bottom: var(--pf-v5-global--spacer--sm);
    padding: 0 var(--pf-v5-global--spacer--sm);

    &.m-hidden {
      visibility: hidden;
    }

    &.odh-m-doc {
      border-color: var(--pf-v5-global--BackgroundColor--light-300);
      display: flex;
      align-items: center;

      > svg {
        margin-right: var(--pf-v5-global--spacer--xs);
      }
    }
    &.odh-m-beta {
      color: var(--pf-v5-global--palette--gold-700);
      background-color: var(--pf-v5-global--palette--gold-50);
      border-color: var(--pf-v5-global--palette--gold-100);
      padding: 0 var(--pf-v5-global--spacer--md);
    }
  }

  &__disabled-text {
    color: var(--pf-v5-global--disabled-color--100);
    font-size: var(--pf-v5-global--FontSize--sm);
  }

  &__disabled-popover-title {
    font-size: var(--pf-v5-global--FontSize--lg);
    font-weight: var(--pf-v5-global--FontWeight--bold);
  }

  &__explore-badges {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__coming-soon {
    color: var(--pf-v5-global--disabled-color--100);
    font-size: var(--pf-v5-global--FontSize--md);
  }

  &__provider {
    color: var(--pf-v5-global--Color--200);
    font-size: var(--pf-v5-global--FontSize--sm);
    font-weight: var(--pf-v5-global--FontWeight--normal);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    &.m-right-justified {
      justify-content: flex-end;
    }

    & &__link {
      font-size: var(--pf-v5-global--FontSize--md);
      padding: 0;
      > svg {
        margin-left: var(--pf-v5-global--spacer--xs);
      }
      &.m-hidden {
        visibility: hidden;
      }
      &.m-disabled {
        pointer-events: none;
        color: var(--pf-v5-global--disabled-color--100);
      }
    }

    &__internal-link {
      font-size: var(--pf-v5-global--FontSize--md);
    }
  }
}
