.odh-card {
  &.m-disabled {
    background-color: var(--pf-global--BackgroundColor--light-200);
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: var(--pf-c-card--m-selectable--m-selected--before--Height);
      content: "";
      background-color: var(--pf-global--disabled-color--200);
    }
  }

  &.odh-tourable-card {
    cursor: default !important;
  }

  &__doc-title.pf-c-card__title {
    padding-bottom: 0;
  }

  &__header-brand {
    display: flex;
    max-height: 50px;
    max-width: 33%;
  }

  &__header-fallback-img {
    height: 40px;
    width: 40px;
  }

  &__supported-image {
    margin-left: var(--pf-global--spacer--sm);
    color: var(--pf-global--primary-color--100);
    &.m-hidden {
      visibility: hidden;
    }
  }

  &__partner-badge-container {
    margin-top: calc(var(--pf-global--spacer--sm) * -1);
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__partner-badge {
    background-color: var(--pf-global--BackgroundColor--light-300);
    border-color: var(--pf-global--BorderColor--200);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pf-global--spacer--md);
    font-size: var(--pf-global--FontSize--xs);
    font-weight: var(--pf-global--FontWeight--normal);
    margin-bottom: var(--pf-global--spacer--sm);
    padding: 0 var(--pf-global--spacer--sm);

    &.m-warning {
      background-color: var(--pf-global--palette--red-50);
      border-color: var(--pf-global--palette--red-100);
    }

    &.m-hidden {
      visibility: hidden;
    }

    &.odh-m-doc {
      border-color: var(--pf-global--BackgroundColor--light-300);
      display: flex;
      align-items: center;

      > svg {
        margin-right: var(--pf-global--spacer--xs);
      }
      &.m-hidden {
        display: none;
      }
      &.odh-m-documentation {
        background-color: var(--pf-global--palette--gold-50);
        border-color: var(--pf-global--palette--orange-100);
        color: var(--pf-global--palette--gold-700);
      }

      &.odh-m-how-to {
        background-color: var(--pf-global--palette--black-150);
        border-color: var(--pf-global--BorderColor--100);
        color: var(--pf-global--Color--100);
      }

      &.odh-m-tutorial {
        background-color: var(--pf-global--palette--cyan-50);
        border-color: var(--pf-global--palette--cyan-100);
        color: var(--pf-global--default-color--300);
      }

      &.odh-m-quick-start {
        background-color: var(--pf-global--palette--green-50);
        border-color: var(--pf-global--palette--green-100);
        color: var(--pf-global--success-color--200);
      }

      &.odh-m-in-progress {
        background-color: var(--pf-global--palette--purple-50);
        border-color: var(--pf-global--palette--purple-100);
        color: var(--pf-global--palette--purple-700);
        > svg {
          color: var(--pf-global--palette--purple-500);
        }
      }

      &.odh-m-complete {
        background-color: var(--pf-global--BackgroundColor--100);
        border-color: var(--pf-global--palette--purple-100);
        color: var(--pf-global--palette--green-500);
      }

      &.odh-m-duration {
        background-color: var(--pf-global--BackgroundColor--100);
        border-color: var(--pf-global--BorderColor--100);
        color: var(--pf-global--Color--100);
      }
    }
  }

  &__doc-badges {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--pf-global--spacer--sm);
    .odh-card__partner-badge:not(:last-of-type) {
      margin-right: var(--pf-global--spacer--xs);
    }
  }

  &__coming-soon {
    color: var(--pf-global--disabled-color--100);
    font-size: var(--pf-global--FontSize--md);
  }

  .pf-c-card__header {
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title-supported {
    display: flex;
    align-items: center;
  }

  &__provider {
    color: var(--pf-global--Color--200);
    font-size: var(--pf-global--FontSize--sm);
    font-weight: var(--pf-global--FontWeight--normal);
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &__link {
      padding: 0;
      > svg {
        margin-left: var(--pf-global--spacer--xs);
      }
      &.m-hidden {
        visibility: hidden;
      }
    }
  }
}
