.odh-list-item {
  &.m-disabled {
    background-color: var(--pf-v5-global--BackgroundColor--light-200);
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: var(--pf-v5-c-card--m-selectable--m-selected--before--Height);
      content: '';
      background-color: var(--pf-v5-global--disabled-color--200);
    }
  }
  &__doc-text {
    color: var(--pf-v5-global--Color--100);
    font-size: var(--pf-v5-global--FontSize--sm);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__doc-title {
    color: var(--pf-v5-global--Color--100);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__doc-description {
    color: var(--pf-v5-global--Color--200);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__link {
    font-size: var(--pf-v5-global--FontSize--sm) !important;
    svg {
      font-size: var(--pf-v5-global--FontSize--xs) !important;
    }
  }

  &__header-fallback-img {
    height: 40px;
    width: 40px;
  }

  &__partner-badge-container {
    margin-top: calc(var(--pf-v5-global--spacer--sm) * -1);
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }

  &__partner-badge {
    background-color: var(--pf-v5-global--BackgroundColor--light-300);
    border-color: var(--pf-v5-global--BorderColor--200);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pf-v5-global--spacer--md);
    font-size: var(--pf-v5-global--FontSize--xs);
    font-weight: var(--pf-v5-global--FontWeight--normal);
    margin-bottom: var(--pf-v5-global--spacer--sm);
    padding: 0 var(--pf-v5-global--spacer--sm);
    width: fit-content;

    &.m-hidden {
      visibility: hidden;
    }

    &.odh-m-doc {
      border-color: var(--pf-v5-global--BackgroundColor--light-300);
      display: flex;
      align-items: center;

      > svg {
        margin-right: var(--pf-v5-global--spacer--xs);
      }
      &.m-hidden {
        display: none;
      }
      &.odh-m-documentation {
        background-color: var(--pf-v5-global--palette--gold-50);
        border-color: var(--pf-v5-global--palette--orange-100);
        color: var(--pf-v5-global--palette--gold-700);
      }

      &.odh-m-how-to {
        background-color: var(--pf-v5-global--palette--black-150);
        border-color: var(--pf-v5-global--BorderColor--100);
        color: var(--pf-v5-global--Color--100);
      }

      &.odh-m-tutorial {
        background-color: var(--pf-v5-global--palette--cyan-50);
        border-color: var(--pf-v5-global--palette--cyan-100);
        color: var(--pf-v5-global--default-color--300);
      }

      &.odh-m-quick-start {
        background-color: var(--pf-v5-global--palette--green-50);
        border-color: var(--pf-v5-global--palette--green-100);
        color: var(--pf-v5-global--success-color--200);
      }

      &.odh-m-in-progress {
        background-color: var(--pf-v5-global--palette--purple-50);
        border-color: var(--pf-v5-global--palette--purple-100);
        color: var(--pf-v5-global--palette--purple-700);
        > svg {
          color: var(--pf-v5-global--palette--purple-500);
        }
      }

      &.odh-m-complete {
        background-color: var(--pf-v5-global--BackgroundColor--100);
        border-color: var(--pf-v5-global--palette--purple-100);
        color: var(--pf-v5-global--palette--green-500);
      }

      &.odh-m-duration {
        background-color: var(--pf-v5-global--BackgroundColor--100);
        border-color: var(--pf-v5-global--BorderColor--100);
        color: var(--pf-v5-global--Color--100);
      }
    }
  }

  .pf-v5-c-card__header {
    align-items: flex-start;
    justify-content: space-between;
  }
}
