.odh-cluster-settings {
  .pf-c-form__group {
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    padding: var(--pf-global--spacer--md);
    margin: 0;

    &.pf-m-action {
      border: none;
      padding: 0;
    }
  }

  .pf-c-helper-text {
    margin-top: var(--pf-global--spacer--sm);
  }

  &__form {
    margin: 0 var(--pf-global--spacer--lg);
  }

}
