.odh-cluster-settings {
  .pf-c-form__group {
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    padding: var(--pf-global--spacer--md);
    margin: 0;
    &.pf-m-action {
      border: none;
      padding: 0;
    }
  }

  .odh-number-input { 
    max-width: 100px;
  }

  .pf-c-input-group {
    padding-top: var(--pf-global--spacer--md);
    padding-bottom: var(--pf-global--spacer--md);
    &__text {
      font-size: var(--pf-global--FontSize--sm);
      color: var(--pf-global--Color--100);
    }
  }
  .pf-c-helper-text {
    margin-top: var(--pf-global--spacer--sm);
  }
  .pf-c-radio {
    margin: var(--pf-global--spacer--sm) 0;
    padding-left: var(--pf-global--spacer--sm);
    &__label {
      font-size: var(--pf-global--FontSize--sm);
    }
  }
  &__form {
    margin: 0 var(--pf-global--spacer--lg);
  }
  &__culler-input-group {
    &.pf-c-input-group {
      padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--lg) 0;
    }
    .odh-number-input { 
      max-width: 40px;
      &__hour {
        max-width: 60px;
      }
    }
  }
}
