.filter-select {
  margin-right: 0px;
}
.filter-search {
  margin-right: var(--pf-v5-global--spacer--md);
}
.included-packages {
  margin-left: var(--pf-v5-global--spacer--2xl);
}
.included-packages-font {
  color: var(--pf-v5-global--Color--200);
}
.phase-success {
  color: var(--pf-v5-global--success-color--100);
}
.phase-failed {
  color: var(--pf-v5-global--warning-color--100);
}
.phase-failed-cursor {
  cursor: pointer;
}
.enable-switch {
  size: 75%;
}

.empty-table {
  margin-left: var(--pf-v5-global--spacer--2xl);
  margin-right: var(--pf-v5-global--spacer--2xl);
}
