.gridItem {
  flex-wrap: wrap;
}

.cardItem {
  border-style: none;
  flex-wrap: wrap;
  height: 500px;
  overflow: auto;
}

.cardItem:hover {
  border-style: solid;
  background-color: #f5f9fb;
  border-color: #35d8f9;
}

.header {
  height: 100px;
}

.cardImages {
  height: 120px;
  display: flex;
  align-items: center;
}
.card-description {
  text-align: center;
}

.cardFooter {
  text-align: center;
}
.cardHeader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .header {
    height: 50px;
  }

  .card-description {
    display: none;
  }

  .cardImages {
    height: 70px;
  }

  .cardItem {
    height: 250px;
  }
}
