.odh-enable-modal {
  &__progress-title {
    display: flex;
    align-items: center;
    > svg {
      margin-right: var(--pf-t--global--spacer--sm);
    }
  }
  &__enable-link {
    margin-top: var(--pf-t--global--spacer--md);
  }
  .pf-v6-c-alert.m-no-alert-icon {
    .pf-v6-c-alert__icon {
      display: none;
    }
  }
  .pf-v6-c-modal-box__title-text {
    text-overflow: initial;
    white-space: break-spaces;
  }
}
