.odh-explore-apps {
  &__body {
    display: flex;
    flex-direction: column;
    &.m-side-panel-open {
      .odh-dashboard__page-content {
        border-right: 0;
        margin-right: 0;
      }
    }
  }
}
