.odh-explore-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }

  &__error {
    &__error-body {
      text-align: left;
      white-space: pre;
    }
  }

  &__gallery {
    .odh-explore-card {
      .header-brand {
        height: 50px;
      }
    }
  }
}
