.odh-get-started {
  &__header {
    display: flex;
    flex-direction: column;

    &__provider {
      color: var(--pf-global--Color--200);
      font-size: var(--pf-global--FontSize--sm);
      font-weight: var(--pf-global--FontWeight--normal);
    }
  }
  &__button-panel {
    display: flex;
    .pf-c-button.pf-m-secondary {
      margin-left: var(--pf-global--spacer--md);
    }
  }
  &__get-started-text {
    padding-right: var(--pf-global--spacer--xs);
  }

  &__body {
    border-top: solid 1px var(--pf-global--BorderColor--100);
  }
}
