.documentAttachments {
  padding-top: var(--pf-t--global--spacer--md);
  position: relative;

  &::before {
    border-top: 1px solid var(--pf-t--global--border--color--default);
    content: '';
    inline-size: calc(100% + var(--pf-t--global--spacer--2xl));
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }
}

.documentAttachment:global(.pf-v6-c-label) {
  --pf-v6-c-label--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-label--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-label--BorderRadius: var(--pf-t--global--border--radius--small);
  --pf-v6-c-label--Gap: var(--pf-t--global--spacer--lg);
  --pf-v6-c-label--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --pf-v6-c-label--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --pf-v6-c-label--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-label--PaddingInlineStart: var(--pf-t--global--spacer--md);

  max-inline-size: calc(var(--pf-t--global--spacer--2xl) * 6.625);
}

.staged {
  --pf-v6-c-label--PaddingInlineEnd: var(--pf-t--global--spacer--lg);
}

.icon {
  align-items: center;
  background-color: var(--pf-t--global--icon--color--status--custom--default);
  block-size: var(--pf-t--global--spacer--lg);
  border-radius: var(--pf-t--global--border--radius--small);
  color: var(--pf-t--global--background--color--primary--default);
  display: inline-flex;
  flex: none;
  inline-size: var(--pf-t--global--spacer--lg);
  justify-content: center;

  img {
    block-size: var(--pf-t--global--icon--size--font--body--default);
    inline-size: var(--pf-t--global--icon--size--font--body--default);
  }
}

.details {
  display: grid;
  gap: 0;
  text-align: left;
}

.filename {
  font-size: var(--pf-t--global--font--size--sm);
}

.type {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--xs);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}
