.automl-header__icon-container {
  --automl-header-icon-bg: var(--pf-t--color--teal--10);

  :where(.pf-v6-theme-dark) & {
    --automl-header-icon-bg: var(--pf-t--color--teal--50);
  }

  background: var(--automl-header-icon-bg);
  border-radius: 50%;
  padding: var(--pf-t--global--spacer--xs);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.automl-header__icon {
  width: 32px;
  height: 32px;
}
