kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: model-catalog-sources-role
rules:
  - apiGroups:
      - ''
    verbs:
      - get
      - list
      - watch
    resources:
      - configmaps
    resourceNames:
      - model-catalog-sources
      - model-catalog-unmanaged-sources
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: model-catalog-sources
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: model-catalog-sources-role
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: Group
    name: system:authenticated
