apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- pairs:
    app.kubernetes.io/component: webhook

resources:
- manifests.yaml
- service.yaml

configurations:
- kustomizeconfig.yaml

replacements:
- source:
    kind: ValidatingWebhookConfiguration
    fieldPath: .metadata.name
  targets:
  - select:
      kind: ValidatingWebhookConfiguration
    fieldPaths:
    - .metadata.labels.[app.kubernetes.io/instance]
    options:
      create: true
- source:
    kind: Service
    version: v1
    name: webhook-service
    fieldPath: .metadata.name
  targets:
  - select:
      kind: ValidatingWebhookConfiguration
    fieldPaths:
    - .webhooks.*.clientConfig.service.name
    options:
      create: false
