.launcher-heading {
  .launcher-text {
    margin-bottom: 1rem;
  }
}

.launcher-error {
  .launcher-error-body {
    text-align: left;
    white-space: pre;
  }
}

.launcher-gallery {
  .odh-app-card {
    .header-brand {
      height: 50px;
    }
    .footer {
      text-align: center;
    }
  }

  .odh-app-card.not-installed {
    color: gray;
  }
}
