.odh-learning-paths__toolbar {
  .pf-c-toolbar__content {
    padding: 0;
  }
  &__input {
    flex-grow: 1;
    max-width: 500px;
  }

  &__view-filter {
    display: flex;
    justify-content: space-between;
    .pf-c-button.pf-m-link {
      margin-left: var(--pf-global--spacer--xs);
    }
  }
  &__count {
    font-weight: var(--pf-global--FontWeight--bold);
  }

  &__filtered-types {
    display: flex;
    align-items: center;
    .odh-card__partner-badge {
      margin-right: var(--pf-global--spacer--xs);
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 0;
      }
      &__close {
        color: var(--pf-global--Color--100);
        font-size: var(--pf-global--FontSize--xs);
        padding: 0;
        margin-left: var(--pf-global--spacer--xs);
      }
    }
  }

  &__filter-check {
    font-size: var(--pf-global--FontSize--md);
    padding-right: var(--pf-global--spacer--sm);
    visibility: hidden;
    &.odh-m-filtered {
      visibility: visible;
    }
  }

  &__filter-count {
    font-size: var(--pf-global--FontSize--md);
    padding-left: var(--pf-global--spacer--sm);
  }

  .pf-c-select__toggle-arrow {
    margin-left: var(--pf-c-select__toggle-arrow--MarginRight);
  }
}
