.odh-learning-paths {
  &__content {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    display: flex;
    flex: 1;
  }
  &__filter-panel {
    padding: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md) var(--pf-global--spacer--md);
    width: 240px;
  }
  &__view-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--pf-global--spacer--md);

    &__list-view {
      padding: 0 0 var(--pf-global--spacer--md) 0;
    }
  }
  &__toolbar {
    padding-top: 0;
  }
  &__list-view {
    display: grid;
    column-gap: var(--pf-global--spacer--md);
    row-gap: var(--pf-global--spacer--md);
    grid-template-columns: auto fit-content(50%) fit-content(20%) auto auto auto;
    &.m-odh-size-md {
      grid-template-columns: auto fit-content(50%) fit-content(20%) auto 0 auto;
      .odh-list-item__link {
        margin-left: calc(-1 * var(--pf-global--spacer--md));
      }
    }
    &.m-odh-size-sm {
      grid-template-columns: auto fit-content(50%) fit-content(20%) 0 0 auto;
      .odh-list-item__link {
        margin-left: calc(-2 * var(--pf-global--spacer--md));
      }
    }
    &__header {
      font-size: var(--pf-global--FontSize--sm);
      font-weight: var(--pf-global--FontWeight--bold);
      overflow: hidden;
      &__no-sort {
        color: var(--pf-global--disabled-color--200);
      }
    }
  }
}
