.odh-learning-paths__toolbar {
  .pf-v6-c-toolbar__content {
    padding: 0;
  }
  &__input {
    flex-grow: 1;
    max-width: 500px;
  }

  &__view-filter {
    display: flex;
    justify-content: space-between;
    .pf-v6-c-button.pf-m-link {
      margin-left: var(--pf-t--global--spacer--xs);
    }
  }
  &__count {
    font-weight: var(--pf-t--global--font--weight--body--bold);
  }

  // Needs input from RHOAI dev: the below class isn't applied in codebase
  &__view-switcher {
    font-weight: var(--pf-t--global--font--weight--body--bold);
    margin-left: var(--pf-t--global--spacer--xs);
  }

  // Needs input from RHOAI dev: the below class isn't applied in codebase
  &__filtered-types {
    display: flex;
    align-items: center;
    .odh-card__partner-badge {
      margin-right: var(--pf-t--global--spacer--xs);
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 0;
      }
      // Needs input from RHOAI dev: the below class isn't applied in codebase
      &__close {
        color: var(--pf-t--global--text--color--regular);
        font-size: var(--pf-t--global--font--size--body--sm);
        padding: 0;
        margin-left: var(--pf-t--global--spacer--xs);
      }
    }
  }

  &__filter-check {
    font-size: var(--pf-t--global--font--size--body--default);
    padding-right: var(--pf-t--global--spacer--sm);
    visibility: hidden;
    &.odh-m-filtered {
      visibility: visible;
    }
  }

  &__filter-count {
    font-size: var(--pf-t--global--font--size--body--default);
    padding-left: var(--pf-t--global--spacer--sm);
  }

  .pf-v6-c-menu-toggle__toggle-icon {
    margin-left: var(--pf-t--global--spacer--sm);
  }
}
