.odh-learning-paths {
  &__filter-panel {
    padding-top: var(--pf-v5-global--spacer--md);
    width: 240px;
    &.m-is-collapsible {
      background: var(--pf-v5-global--BackgroundColor--light-100);
      border: 1px solid var(--pf-v5-global--BorderColor--100);
      left: 0;
      margin-left: -1px;
      margin-top: -1px;
      position: absolute;
      transition: left 0.5s;
      z-index: var(--pf-v5-global--ZIndex--md);
    }
    &.m-is-collapsed {
      padding: 0;
      overflow: hidden;
      left: -240px;
    }
    &__collapse-button {
      position: absolute;
      right: 0;
      top: var(--pf-v5-global--spacer--sm);
      z-index: var(--pf-v5-global--ZIndex--md);
    }
    .vertical-tabs-pf-tab > a {
      font-size: var(--pf-v5-global--FontSize--sm);
    }
    .vertical-tabs-pf-tab:first-of-type {
      margin-bottom: var(--pf-v5-global--spacer--lg);
    }
    .filter-panel-pf-category {
      padding-left: var(--pf-v5-global--spacer--md);
      .filter-panel-pf-category-title {
        font-size: var(--pf-v5-global--FontSize--sm);
      }
      .pf-v5-c-check__label {
        font-size: var(--pf-v5-global--FontSize--sm);
      }
      .pf-v5-c-button.pf-m-link {
        font-size: var(--pf-v5-global--FontSize--sm);
      }
    }
  }
  &__view-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--pf-v5-global--spacer--md);

    &__list-view {
      padding: 0 0 var(--pf-v5-global--spacer--md) 0;
    }
  }
  &__toolbar {
    padding-top: 0;
  }
  &__list-view {
    display: grid;
    column-gap: var(--pf-v5-global--spacer--md);
    row-gap: var(--pf-v5-global--spacer--md);
    grid-template-columns: 20px fit-content(50%) fit-content(20%) 110px auto auto;
    &.m-odh-size-md {
      grid-template-columns: auto fit-content(50%) fit-content(20%) auto 0 auto;
      .odh-list-item__link {
        margin-left: calc(-1 * var(--pf-v5-global--spacer--md));
      }
    }
    &.m-odh-size-sm {
      grid-template-columns: auto fit-content(50%) fit-content(20%) 0 0 auto;
      .odh-list-item__link {
        margin-left: calc(-2 * var(--pf-v5-global--spacer--md));
      }
    }
    &__header {
      font-size: var(--pf-v5-global--FontSize--sm);
      font-weight: var(--pf-v5-global--FontWeight--bold);
      overflow: hidden;
      &__no-sort {
        color: var(--pf-v5-global--disabled-color--200);
      }
    }
  }
}
