import React from 'react';
import ApplicationsPage from '#~/pages/ApplicationsPage';

const {{{pascalCase componentName}}}Page: React.FC = () => (
  <ApplicationsPage
    title="{{{pascalCase componentName}}}"
    description="This is the {{{pascalCase componentName}}} page."
    loaded
    empty={false}
    provideChildrenPadding
  >
    <p>Add your content here</p>
  </ApplicationsPage>
);

export default {{{pascalCase componentName}}}Page;
