.autorag-pipeline-status-label--no-icon {
  .pf-v6-c-label__icon {
    display: none;
  }
}

.autorag-tree-topology-container {
  height: 100%;
  min-height: 0;

  .pf-topology-content {
    background-color: var(--pf-t--global--background--color--primary--default);
  }
}
