// This is a hack to get around a bug in PatternFly TabContent.
.odh-tabcontent-fix {
  flex-grow: 1;
}
// This is another hack to get around a bug in PatternFly Tabs component.
.odh-tabs-fix {
  flex-shrink: 0;
}
