.autorag-topology-container {
  height: 350px;
  border-radius: 8px;
  border: 1px solid var(--pf-t--global--border--color--default);
  overflow: hidden;

  .pf-topology-content {
    background-color: var(--pf-t--global--background--color--primary--default);
  }
}
