.odh-api-group-tree__all,
.odh-api-group-tree__category {
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.odh-api-group-tree__category {
  padding-inline-start: var(--pf-t--global--spacer--lg);
}

.odh-api-group-tree__group {
  padding-inline-start: calc(var(--pf-t--global--spacer--lg) * 2);
}
