.odh-resource-tree__all {
  .pf-v6-c-menu__item-text {
    font-weight: var(--pf-t--global--font--weight--body--bold);
  }
}

.odh-resource-tree__category {
  .pf-v6-c-menu__item-text {
    font-weight: var(--pf-t--global--font--weight--body--bold);
  }

  padding-inline-start: var(--pf-t--global--spacer--lg);
}

.odh-resource-tree__resource {
  padding-inline-start: calc(var(--pf-t--global--spacer--lg) + var(--pf-t--global--spacer--lg));
}
