.odh-data-projects__modal {
  .pf-c-select__toggle::before {
    border-left: var(--pf-c-select__toggle--before--BorderLeftWidth) solid var(--pf-c-select__toggle--before--BorderLeftColor);
    border-right: var(--pf-c-select__toggle--before--BorderRightWidth) solid var(--pf-c-select__toggle--before--BorderRightColor);
    border-top: var(--pf-c-select__toggle--before--BorderTopWidth) solid var(--pf-c-select__toggle--before--BorderTopColor);
    border-bottom: var(--pf-c-select__toggle--before--BorderBottomWidth) solid var(--pf-c-select__toggle--before--BorderBottomColor);
  }

  &-form {
    .pf-c-select, .pf-c-form-control, .pf-c-input-group {
      width: 400px;
    }
    &-image-list {
      width: 80%;
    }
    .pf-c-form__section {
      margin-top: var(--pf-global--spacer--xs);
    }
  }

  &-var-field {
    margin-left: var(--pf-global--spacer--sm);
  }

  &-title {
    margin-bottom: var(--pf-global--spacer--lg);
  }

  &-new-pv {
    margin-left: var(--pf-global--spacer--lg);
    margin-top: calc(var(--pf-global--spacer--md) * -1);

    .pf-c-form__group {
      margin-bottom: var(--pf-global--spacer--md);
    }
    .pf-c-radio {
      margin-bottom: var(--pf-global--spacer--sm);
      margin-left: var(--pf-global--spacer--sm);
    }
    .pf-c-input-group {
      width: 100px;
    }
  }
}
