.confusionMatrix {
  margin: 20px;
  margin-right: 75px;
  display: flex;
}

.confusionMatrix-table {
  border-collapse: collapse;
}

.confusionMatrix-cell {
  border: solid 1px white;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.confusionMatrix-labelCell {
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
}

.confusionMatrix-gradientLegendOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.confusionMatrix-gradientLegend {
  border-right: solid 1px #777;
  margin-left: 30px;
  min-width: 10px;
  position: relative;
  width: 10px;
}

.confusionMatrix-gradientLegendMaxOuter {
  top: 0;
  border-top: solid 1px #777;
  left: 100%;
  padding-left: 5px;
  position: absolute;
  width: 5px;
}

.confusionMatrix-gradientLegendMaxLabel {
  left: 15px;
  position: absolute;
  top: -7px;
}

.confusionMatrix-verticalMarker {
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.confusionMatrix-markerLabel {
  border-top: solid 1px #777;
  left: 100%;
  padding-left: 5px;
  position: absolute;
  width: 5px;
}

.confusionMatrix-trueLabel {
  font-weight: bold;
  padding-left: 20px;
}
