.odh-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }
  &__error-body {
    text-align: left;
    white-space: pre;
  }
  &__body {
    display: flex;
  }
  &__content {
    flex: 1;
  }
  &__drawer {
    background-color: var(--pf-global--BackgroundColor--light-100);
    box-shadow: var(--pf-c-drawer--m-expanded__panel--BoxShadow);
    width: 0;
    &.m-open {
      width: 400px;
    }
  }
}
