.odh-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }
  &__body {
    display: flex;
  }
  &__content {
    flex: 1;
  }
  &__drawer {
    background-color: var(--pf-global--BackgroundColor--light-100);
    box-shadow: var(--pf-c-drawer--m-expanded__panel--BoxShadow);
    width: 0;
    &.m-open {
      width: 400px;
    }
  }
}

.odh-dashboard__page-content {
  border: 1px solid var(--pf-global--BorderColor--100);
  display: flex;
  flex: 1;
  margin: var(--pf-global--spacer--md);
}
