apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kubeflow-workspaces

resources:
- ../../base

components:
- ../../components/certmanager
- ../../components/istio
- ../../components/common
#- ../../components/prometheus

patches:
- patch: |-
    - op: remove
      path: /metadata/labels/app.kubernetes.io~1component
    - op: remove
      path: /metadata/labels/app.kubernetes.io~1name
  target:
    kind: Namespace
    name: kubeflow-workspaces

# [CERTMANAGER] Cert-manager replacements for CA injection annotations
# These replacements need to be in the overlay because they reference resources
# that have namespaces applied by the parent kustomization
replacements:
- source:
    fieldPath: .metadata.namespace
    group: cert-manager.io
    kind: Certificate
    name: serving-cert
    version: v1
  targets:
  - fieldPaths:
    - .metadata.annotations.[cert-manager.io/inject-ca-from]
    options:
      create: true
      delimiter: /
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - .metadata.annotations.[cert-manager.io/inject-ca-from]
    options:
      create: true
      delimiter: /
    select:
      kind: CustomResourceDefinition
- source:
    fieldPath: .metadata.name
    group: cert-manager.io
    kind: Certificate
    name: serving-cert
    version: v1
  targets:
  - fieldPaths:
    - .metadata.annotations.[cert-manager.io/inject-ca-from]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: ValidatingWebhookConfiguration
  - fieldPaths:
    - .metadata.annotations.[cert-manager.io/inject-ca-from]
    options:
      create: true
      delimiter: /
      index: 1
    select:
      kind: CustomResourceDefinition
- source:
    fieldPath: .metadata.name
    kind: Service
    name: webhook-service
    version: v1
  targets:
  - fieldPaths:
    - .spec.dnsNames.0
    - .spec.dnsNames.1
    options:
      create: true
      delimiter: .
    select:
      group: cert-manager.io
      kind: Certificate
      version: v1
- source:
    fieldPath: .metadata.namespace
    kind: Service
    name: webhook-service
    version: v1
  targets:
  - fieldPaths:
    - .spec.dnsNames.0
    - .spec.dnsNames.1
    options:
      create: true
      delimiter: .
      index: 1
    select:
      group: cert-manager.io
      kind: Certificate
      version: v1
- source:
    fieldPath: .spec.secretName
    group: cert-manager.io
    kind: Certificate
    name: serving-cert
    version: v1
  targets:
  - fieldPaths:
    - .spec.template.spec.volumes.[name=cert].secret.secretName
    options: {}
    select:
      kind: Deployment
      name: workspaces-controller
- source:
    fieldPath: .spec.ports.[name=webhook].targetPort
    kind: Service
    name: webhook-service
    version: v1
  targets:
  - fieldPaths:
    - .spec.template.spec.containers.[name=manager].ports.[name=webhook-server].containerPort
    options: {}
    select:
      kind: Deployment
      name: workspaces-controller
