.odh-installed-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }

  &__error {
    &__error-body {
      text-align: left;
      white-space: pre;
    }
  }

  &__card {
    &__header-brand {
      height: 50px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
