.odh-installed-apps {
  &__gallery {
    .odh-card {
      .pf-c-card__header {
        padding-right: 0;
      }

      .pf-c-card__title {
        display: flex;
        align-items: center;
      }
    }
  }
}
