ODH_DASHBOARD_URL: "http://odh-dashboard-opendatahub.apps.my-cluster.test.redhat.com"
TEST_USER:
  AUTH_TYPE: foo-auth
  USERNAME: foo-user
  PASSWORD: foo-passwd
TEST_USER_3:
  AUTH_TYPE: contributor-auth
  USERNAME: contributor-username
  PASSWORD: contributor-passwd
OCP_ADMIN_USER:
  AUTH_TYPE: adm-auth
  USERNAME: adminuser
  PASSWORD: adminuser-passwd
S3:
  AWS_ACCESS_KEY_ID: access_key
  AWS_SECRET_ACCESS_KEY: secret_key
  BUCKET_2:
    NAME: pipeline-bucket-name
    REGION: pipeline-bucket-region
    ENDPOINT: https://pipeline-bucket-endpoint.com/
  BUCKET_3:
    NAME: model-bucket-name
    REGION: model-bucket-region
    ENDPOINT: https://model-bucket-endpoint.com/
PIP_INDEX_URL: https://pypi.org/simple
PIP_TRUSTED_HOST: pypi.org