.autoragConfigureToggleGroupFullWidth .pf-v6-c-toggle-group__item {
  flex: 1 0 0;
}

.autoragConfigureToggleGroupFullWidth .pf-v6-c-toggle-group__button {
  width: 100%;
  justify-content: center;
}
