.dw-workload-resource-usage-bar {
  // Prevents extra whitespace to the right of the bar when combining measureLocation="none" with no title prop
  // TODO: can remove this after https://github.com/patternfly/patternfly-react/issues/10278 is in place
  grid-gap: 0;
}