.odh-data-projects__table {
  & > thead > tr {
    border-bottom: none !important;
  }
  &-workspace-button {
    padding: 0;
    margin: 0 0 var(--pf-global--spacer--md);
    display: block;
    &.pf-m-disabled {
      a {
        color: var(--pf-global--disabled-color--100);
      }
    }
  }
  &-project-name {
    font-size: var(--pf-global--FontSize--md);
  }
}