.odh-data-projects {
  &__help-text {
    color: var(--pf-global--Color--400);
    font-weight: lighter !important;
  }
  &__data-list {
    margin: var(--pf-global--spacer--md) 0;
    &-item {
      .pf-m-disabled {
        a {
          color: var(--pf-global--disabled-color--100);
        }
      }
      font-size: var(--pf-global--FontSize--sm);
      .pf-c-data-list__item-row {
        padding-bottom: var(--pf-global--spacer--sm);
      }
      .pf-c-switch__label {
        font-size: var(--pf-global--FontSize--sm);
      }
      .pf-c-data-list__expandable-content {
        padding: var(--pf-global--spacer--xl) 0;
        border-top: none;
      }
      &-content {
        padding-left: calc(var(--pf-c-data-list__expandable-content-body--PaddingLeft) + var(--pf-c-data-list__item-control--MarginRight) + 40px);
        padding-right: calc(var(--pf-c-data-list__expandable-content-body--PaddingRight) + var(--pf-c-data-list__item-action--MarginLeft) + 48px);
      }
      .pf-c-data-list__item-content {
        column-gap: var(--pf-global--spacer--lg);
      }
    }
    &-api-endpoint {
      margin-top: var(--pf-global--spacer--md);
    }
  }
  &__storage-progress {
    width: 75%;
    margin-top: var(--pf-global--spacer--md);
  }
  &__toolbar {
    margin-bottom: var(--pf-global--spacer--md);
  }
  &__table {
    &-tag {
      display: block;
    }
  }
  &__drawer-panel {
    &-environment {
      padding-top: var(--pf-global--spacer--md);
      &-title {
        color: var(--pf-global--Color--300);
      }
      &-body {
        padding: var(--pf-global--spacer--sm) 0 var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
        font-size: var(--pf-global--FontSize--sm);
      }
      &-help-icon {
        padding: 0 var(--pf-global--spacer--xs);
      }
      &-help-text {
        color: var(--pf-global--Color--400);
      }
    }
    &-tab-body {
      padding-top: var(--pf-global--spacer--md);
    }
  }
  &__details {
    .m-bold {
      font-weight: bold;
    }
    & > .pf-l-flex {
      margin-top: var(--pf-global--spacer--lg);
    }
    &-tabs {
      padding-left: var(--pf-global--spacer--lg);
    }
    &-card {
      height: 100%;
      .pf-c-description-list {
        padding-top: var(--pf-global--spacer--sm);
        font-size: var(--pf-global--FontSize--sm);
        width: 70%;
        .pf-c-description-list__group {
          grid-template-columns: 130px 1fr;
        }
      }
    }
    .pf-l-grid {
      margin: var(--pf-global--spacer--md) 0;
      padding-right: var(--pf-global--spacer--lg);
    }
    .pf-l-split__item {
      span {
        color: var(--pf-global--Color--400);
      }
    }
    .pf-c-data-list {
      border-top: none;
    }
  }
  &__breadcrumb {
    padding: var(--pf-global--spacer--lg) var(--pf-global--spacer--lg) 0 var(--pf-global--spacer--lg);
  }
  &__notebook-image {
    &-option {
      .pf-c-radio__label {
        white-space: nowrap;
      }
    }
    &-tags {
      margin-left: var(--pf-global--spacer--md);
      .pf-c-expandable-section__content {
        margin-top: 0;
        margin-left: var(--pf-global--spacer--md);
      }
      .odh-data-projects__notebook-image-option:not(:last-of-type) {
        margin-bottom: var(--pf-global--spacer--sm);
      }
    }
    &-title {
      > svg, &-version {
        margin-left: var(--pf-global--spacer--xs);
      }
      .pf-c-label {
        margin-left: var(--pf-global--spacer--sm);
      }
    }
    &-popover {
      min-width: initial !important;
      .pf-c-popover__content {
        max-width: 300px;
        overflow-x: hidden;
        >.pf-c-button {
          padding-left: 0;
          padding-right: 0;
        }
      }
      &-title {
        font-weight: var(--pf-global--FontWeight--bold);
        margin-bottom: var(--pf-global--spacer--sm);
      }
      &-package-title {
        font-weight: var(--pf-global--FontWeight--bold);
      }
    }
  }
  &__database-provider-card, &__connected-model-card {
    width: 160px;
    height: 100px;
    svg, img {
      width: 30px;
      height: 30px;
    }
  }
  &__notebook-switch {
    font-size: var(--pf-global--FontSize--sm);
  }
}
