.odh-form-section {
  &__desc {
    margin-top: var(--pf-v5-global--spacer--sm);
    font-size: var(--pf-v5-global--FontSize--sm);
    color: var(--pf-v5-global--Color--200);
    font-weight: initial;
  }
}
