// remove this file when https://github.com/patternfly/patternfly/issues/5605 is solved
.odh-dashboard__code-editor {
  height: 100%;

  .pf-v5-c-code-editor__main,
  .pf-v5-c-file-upload,
  .pf-v5-c-code-editor__code {
    height: 100%;
  }
}
