name: Test / EvalHub BFF Tests
on:
  push:
    paths:
      - "packages/eval-hub/**"
      - "!LICENSE*"
      - "!DOCKERFILE*"
      - "!**.gitignore"
      - "!**.md"

  pull_request:
    paths:
      - "packages/eval-hub/**"
      - ".github/workflows/**"
      - "!LICENSE*"
      - "!DOCKERFILE*"
      - "!**.gitignore"
      - "!**.md"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.3"

      - name: Lint
        working-directory: packages/eval-hub/bff
        run: make lint

      - name: Build (BFF)
        working-directory: packages/eval-hub/bff
        run: make build

      - name: Check if there are uncommitted file changes
        working-directory: packages/eval-hub
        run: |
          clean=$(git status --porcelain)
          if [[ -z "$clean" ]]; then
              echo "Empty git status --porcelain: $clean"
          else
              echo "Uncommitted file changes detected: $clean"
              git diff
              exit 1
          fi
