- op: add
  path: /spec/template/spec/containers/-
  value:
    name: oauth-proxy
    args:
      - --https-address=:8443
      - --provider=openshift
      - --openshift-service-account=odh-dashboard
      - --upstream=http://localhost:8080
      - --tls-cert=/etc/tls/private/tls.crt
      - --tls-key=/etc/tls/private/tls.key
      - --cookie-secret-file=/etc/oauth/config/cookie_secret
      - --pass-access-token
      - '--openshift-delegate-urls={"/": {"resource": "services", "verb": "get", "name": "odh-dashboard"}}'
      - --skip-auth-regex=^/metrics
    image: oauth-proxy
    ports:
      - containerPort: 8443
        name: https
    livenessProbe:
      httpGet:
        path: /oauth/healthz
        port: 8443
        scheme: HTTPS
      initialDelaySeconds: 30
      timeoutSeconds: 1
      periodSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /oauth/healthz
        port: 8443
        scheme: HTTPS
      initialDelaySeconds: 5
      timeoutSeconds: 1
      periodSeconds: 5
      successThreshold: 1
      failureThreshold: 3
    resources:
      limits:
        cpu: 100m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 256Mi
    volumeMounts:
      - mountPath: /etc/tls/private
        name: proxy-tls
      - mountPath: /etc/oauth/config
        name: oauth-config
        
- op: add
  path: /spec/template/spec/volumes
  value:
    - name: proxy-tls
      secret:
        secretName: dashboard-proxy-tls
    - name: oauth-config
      secret:
        secretName: dashboard-oauth-config
